.footer-container {
	display: flex;
	flex-direction: column;
	background-color: #111827;
	color: white;
	padding: 100px 150px 50px;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

.footer-image img {
	margin-bottom: 50px;
	max-height: 80px;
}

.menu-container h5 {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.menu-container ul {
	padding: 0;
}

.menu-container li,
.menu-container a {
	margin-bottom: 10px;
}

.menu-container a {
	text-decoration: none;
	color: #d1d5db;
}

.menu-container li,
.menu-container a {
	transition: transform 0.3s ease, color 0.3s ease;
}

.menu-container li:hover {
	transform: translateX(5px);
	color: #f4d24f;
}

.menu-container a:hover {
	transform: translateY(-3px);
	color: #f4d24f;
	font-weight: bold;
}

.social-media-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 5px;
}

.social-media-grid a {
	font-size: 24px;
}

#scrollToTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	background-color: rgba(38, 177, 193, 255);
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#scrollToTop.visible {
	opacity: 1;
	visibility: visible;
}

#scrollToTop:hover {
	background-color: #15646d;
	transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.whatsapp-link {
	position: fixed;
	bottom: 100px;
	right: 30px;
	width: 50px;
	height: 50px;
	background-color: #25D366;
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.whatsapp-link:hover {
	background-color: #128C7E;
	transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.whatsapp-link a {
	text-decoration: none;
	font-size: 24px;
	color: white;
}
