/* .announcement-section {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 20px;
  width: 100%;
  border-bottom: 10px solid #f4d24f;
  font-family: "Roboto", sans-serif;;
}

.announcement-section h1 {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 34px;
}
 */

.c-item {
  height: 640px;
}

.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.profil-singkat-container {
  margin: 50px 100px;
  padding: 20px;
  display: flex;
  column-gap: 50px;
}

.profil-singkat-image {
  width: 3000px;
  height: auto;
}

.profil-singkat-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.profil-singkat-container p {
  text-align: justify;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 0;
}

.profil-singkat-container a {
  display: block;
  text-align: left;
  margin-top: 20px;
  text-decoration: none;
  background-color: black;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  border-radius: 40px;
  font-size: 16px;
}

.profil-singkat-container a:hover {
  background-color: rgb(72, 72, 72);
}

.daftar-mitra h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: rgba(3, 152, 158, 255);
  margin-bottom: 50px;
}

.daftar-mitra-container {
  display: grid;
  grid-template-columns: 1fr 2fr  ;
  margin: 50px 100px;
  column-gap: 50px;
}

.sektor-migas {
  font-family: "Roboto", sans-serif;
  color: rgba(3, 152, 158, 255);
}

.sektor-migas li {
  font-weight: bold;
}

.sektor-migas p {
  font-family: "Pattaya", sans-serif;
  font-size: 30px;
}

.logo-mitra {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  align-items: center;
}

.logo-mitra img {
  width: 100px;
  max-width: 100%;
  max-height: 100%;
}
